table {
  width: 100%;
}
.btn {
  margin: 5px;
}
.column {
  justify-content: center;
}

.date {
  margin-left: 33px;
}

.winner-text {
  margin-top: 12px;
  color: green;
  font-weight: bold;
}

.title {
  justify-content: center;
  margin-top: 45px;
}

.title2 {
  color: red;
  justify-content: center;
  margin-top: 45px;
}

.participate {
  justify-content: center;
  margin-bottom: 12px;
  align-items: center;
}

.header {
  text-align: center;
}

.header-image {
  background-size: cover;
  height: 100px;
  width: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}
